/* Hero Section */
.hero-section {
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: left;
    padding: 100px 0;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .explore-btn {
    background-color: #ff8c00;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
  }
  
  .explore-btn:hover {
    background-color: #e07b00;
  }
